<div>

    {% if app.user %}
{#  if a user is connected#}

    <a href="{{ path('app_logout') }}">Logout</a>

            {%  if is_granted('ROLE_ADMIN') %}

                <a href="{{ path('app_admin_index') }}">Adminstrator</a>
{#                <h2>I am an admin</h2>#}
            {% endif %}

        {% else %}

{# if the user isn't connected#}
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_register') }}">Register</a>



    {% endif %}

</div>