{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h2>Categories:</h2>
    <a href="{{ path('app_category_index') }}">Click</a>

    <h2>Medias:</h2>
    <a href="{{ path('app_media_index') }}">Click</a>
{% endblock %}
